{% extends "blog/base.html" %}
 {% block title %}
   <title>About</title> 
 {% endblock %}
{% block content %}
<div style="margin-top: 150px; font-weight: bold; text-align: center;">
	<h1 style=" color: #eb0e0e;">About</h1>
	<p style="margin-top: 5px; font-weight: bolder;">1. The sole aim of <i>worthy.com</i> is to provide a platform to peoples for sharing worthy content to feel good.</p>
	<p style="margin-top: 5px; font-weight: bolder;">2. It helps wothy peoples to  connects   and provides a platform where peoples can share their experience, knowledge, memories, and much more.</p>
	<p style="margin-top: 5px; font-weight: bolder;">3. We are committed to building a better worthy community by providing a fast and secure platform.</p>
	<p style="margin-top: 5px; font-weight: bolder;">4. worthygram.com is developed by an individual.</p>
</div>
{% endblock content %}
