{% extends "blog/base.html" %} 


{% block title %}
  <title>Password Reset</title>
{% endblock %}
{% block content %}
{% load widget_tweaks %}
<style>
    .form{
        margin-top: 10px;
        text-align: center;
        display: flex;
        width: 100%;
    }
</style>

<div style="margin-top: 30px;">
    <form method="POST">
        {% csrf_token %}
        <!-- <fieldset class="form-group"> -->
            <legend >Reset Password</legend>
            {% for field in form %}
                {% render_field field class="form" placeholder=field.label %}
               {% endfor %}
        <!-- </fieldset> -->
        <div style="margin-top: 10px; text-align: center;">
            <button style="width: 30%;
            align-items: center;
            margin-top: 10px;
            padding-top: 15px;
            padding-bottom: 12px;
            border-radius: 40px;
            background-color: #007da1;
            color: #fff;
            border: none;
            font-size: 10px;
            font-weight: 600;"
                    type="submit">Request Password Reset</button>
        </div>
    </form>
</div>
{% endblock content %}